.no-padding-right {
    padding-right: 0px;
}


/*-tablet-*/

@media (min-width:768px) and (max-width:1023px) {
    .container {
        max-width: 760px;
    }
    .topbar__listmain {
        text-align: center;
    }
    .topbar__right {
        float: none;
        margin-top: 8px;
    }
    .search-bar-top .search-bar {
        width: 445px;
        height: 45px;
    }
    .nice-select {
        font-size: 13px;
    }
    .search-bar-top .search-bar form .btn-search {
        height: 44px;
    }
    .search-bar-top .search-bar form input {
        width: 216px;
        height: auto;
        font-size: 13px;
    }
    .right-bar .single-bar>a {
        font-size: 20px;
    }
    .menu-area .main-menu>li>a {
        font-size: 14px;
        padding: 15px 15px;
    }
    .header-inner.sticky {
        background: #fff;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: 0.5s;
        animation: FadeInDown 1s both 0.2s;
    }
    .all-category {
        display: none;
    }
    .hero-slider {
        height: 416px;
        overflow: hidden;
    }
    .hero-slider .single-slider .text-inner__area {
        margin-top: 80px;
    }
    .text-inner__area h1 span {
        font-size: 17px;
    }
    .text-inner__area h1 {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 5px;
    }
    .text-inner__area .button .shopnow-btn {
        padding: 12px 30px;
    }
    .small-banner .single-banner {
        margin-bottom: 18px;
    }
    .small-banner .single-banner.tab-height {
        height: 300px;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .free-banner {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px 0px;
        background: var(--yellow);
    }
    .free-banner .banner-content h2 {
        font-size: 26px;
    }
    .free-banner .banner-content span {
        font-size: 14px;
    }
    .free-banner .banner-content p {
        font-size: 13px;
    }
    .shop-home-list .shop-home-title h2 {
        margin-top: 20px;
    }
    .section-title {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 40px;
    }
    .shop-services {
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .shop-services .single-service {
        margin-bottom: 20px;
    }
    .footer .footer-about {
        padding-right: 0px;
        padding-top: 20px;
    }
    .footer .single-footer {
        padding: 20px 0px;
    }
    .footer .copyright {
        margin-top: 50px;
    }
}


/*-tablet-*/

@media screen and (max-width:479px) {
    .topbar .topbar__listmain li {
        display: block;
        border: none;
        border-bottom: 1px solid #f0f0f0;
        padding: 5px 0px;
    }
    .topbar .topbar__listmain li i {
        color: #fff;
    }
    .topbar__right {
        float: none;
    }
    .topbar__left .topbar__listmain li:last-child {
        border-bottom: 1px solid #f0f0f0;
        padding-right: 5px 0px;
    }
    .logo {
        padding: 0;
    }
    .search-bar-top {
        display: none;
    }
    .right-bar {
        display: none;
    }
    .header-inner {
        display: none;
    }
    .mobile-search-top {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .mobile-nav {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    .middle-inner.sticky {
        background: #fff;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        transition: 0.5s;
        animation: FadeInDown 1s both 0.2s;
    }
    .hero-slider {
        height: 350px;
        overflow: hidden;
    }
    .hero-slider .single-slider .text-inner__area {
        margin-top: 30px;
    }
    .text-inner__area h1 span {
        font-size: 15px;
    }
    .text-inner__area h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 0px;
    }
    .text-inner__area .button .shopnow-btn {
        padding: 10px 25px;
    }
    .small-banner {
        padding: 20px 0px;
    }
    .small-banner .single-banner {
        margin-bottom: 13px;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .free-banner {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px 0px;
        background: var(--yellow);
    }
    .free-banner .banner-content h2 {
        font-size: 20px;
    }
    .free-banner .banner-content span {
        font-size: 14px;
    }
    .free-banner .banner-content p {
        font-size: 13px;
    }
    .shop-home-list {
        padding: 40px 0px;
    }
    .shop-home-list .shop-home-title h2 {
        margin-top: 20px;
    }
    .shop-home-list .single-list .list-item-content {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .shop-blog {
        margin-top: 40px;
        padding: 0px;
    }
    .section-title {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 40px;
    }
    .shop-services .single-service {
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .shop-newsletter-box .newsletter-form {
        display: inline-block;
    }
    .shop-newsletter-box .newsletter-form input {
        display: block;
        width: 100%;
        height: 42px;
        border-radius: 30px;
    }
    .shop-newsletter-box .newsletter-form button {
        margin-top: 20px;
        display: block;
        width: 100%;
        left: 0px;
        height: 42px;
        border-radius: 30px;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer .footer-about {
        padding-right: 0px;
    }
    .footer .single-footer {
        padding: 20px 0px;
    }
    .footer .copyright {
        margin-top: 20px;
    }
}